<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${titel}"></title>
    <link th:replace="fragments/styles"/>
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header th:replace="fragments/header"></header>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">

            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text" th:text="#{nav.about}"></h2>
                </div>
                <div class="mdl-card__media">
                    <img class="article-image" src=" images/about-header.jpg" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-copy">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>
                    <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                        <p>
                            Nenne es, wie Du es willst: Weinversand, Weinhandel, online Weinshop, Wein Depot, Weinkontor oder gern auch Weinladen. Wir verkaufen die beliebtesten Weine im Netz. Bei den alten Griechen war Wein das Getränk der Götter, die hatten ja auch noch keinen Weinversand. Er stand für Sinnes- und Lebensfreude. Bei VINELLO ist dieser natürlich nicht den Göttern vorbehalten, das zeigt schon unserem Leitmotiv: „Wir empfehlen, Sie genießen!“. Und damit meinen wir es ernst. In unserem umfangreichen und breit gefächerten Weinhandel finden Sie garantiert den passenden Wein für jede Gelegenheit – nicht zuletzt dank detaillierter und informativer Sommelier-Expertisen zu jedem Produkt.
                        </p>
                    </div>


                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">.x.</h3>

                    <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                        <p>
                            xxx
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <footer th:replace="fragments/footer"/>
    </main>
</div>
</body>
</html>
